{% extends "base.html" %}

{% block content %}

<div id = "bodyContent">	
		<div id = "contactWrapper">
			<p>Hi! Want to get in contact with us? Here's how!</p>
			<span><h4>E-Mail: </h4><a href= "mailto:ArtHouseArtProject@gmail.com" target="_top">ArtHouseArtProject@gmail.com</a></span>
			<span><h4>Location: </h4>On the RIT Campus? Stop by <strong>Eugene Colby Hall D - Second Floor!</strong> Or come to our weekly floor meetings in <strong>NRH
			Room A-0355</strong>, Sundays at 9PM.</span>
		</div>
	</div>

{% endblock %}