{% extends 'base.html' %}

{% block content %}

<div id = "bodyContent">	
		<div id = "termWrapper">
			<h4>Terms and Conditions</h4>
			<p>"The Art Project" was created with the intention of sustaining the non-profit organization that is Art House.
			in doing this "The Art Project" will sell merchandise, that is donated, to the public.
			"Merchandise" includes, but is not limited to: prints, clothing, sculpture,
			digital files, paintings, collages, drawings, writing, digital design.</p>
			
			<ol>
				<li>Donations:</li>
				<p>Donations will be submitted on the "submit" page of the website. Or at
				<a href="#">www.URLHERE.com/Submit</a> Donations are made to help support Art House
				and the donator is in no way entitled to compensation, unless specifically
				agreed upon, in writing, by one of the executors of the website. "The Art
				Project" retains the right to decide which works go on the site and which
				do not. Though any work can be submitted, not all work will be posted for
				sale on the site. Workm ust be inspected by an executor of the website and
				must be deemed appropriate and of good quality. "The Art Project" reserves
				the right to decide what is "appropriate" and what "good quality" entails.
				The donator of the work must hold the rights to the work submitted, and it
				must be original. Plagarism will not be tolerated and will not be considered.</p>
				
				<li>Buys:</li>
				<p>All sales made on this site <a href="#">www.URLHERE.com/Buy</a> are final. “The Art Project” 
				is not responsible for any damages made to the purchased item after it is mailed to the consumer. 
				The product will be shipped in the same condition it was received in and the same condition 
				it is represented on the site. Shipping time will vary and a specified approximate 
				arrival time will be provided to the consumer. A confirmation email that states 
				that the item purchased has been shipped will be sent to the email address given at 
				the time of purchase. “The Art Project” is not held responsible or accountable if 
				the product does not arrive to the consumer before said date. </p>
				
				<li>Payment:</li>
				<p>“The Art Project” accepts payment via all major credit cards including but not 
				limited to; Visa, Mastercard, American Express. Payment is due at the time of 
				purchase. All payments will be processed through Amazon.com and by agreeing to 
				these terms and conditions, the buyer also agrees to the terms and conditions of 
				Amazon.com. All, 100%, of proceeds are guaranteed to go to the special interest 
				house known as Art House to help sustain educational, social, and emotional opportunities 
				for growth.</p>
				
				<li>Privacy:</li>
				<p>“The Art Project” will not retain any information given to it through payment or 
				otherwise. The user must re-enter their information at every time of purchase though 
				more than one item can be purchased at one time. Since “The Art Project” does not 
				retain the information provided at the time of payment it not only will not, but cannot, 
				sell information to any party for any reason.</p>
				
				<li>Contact:</li>
				<p>“The Art Project” is run by the special interest house known as “Art House.” “Art House” 
				is located on the campus of the Rochester Institute of Technology in Eugene Colby Hall D. 
				To contact “The Art Project” email it at <a href= "mailto:ArtHouseArtProject@gmail.com" target="_top">ArtHouseArtProject@gmail.com</a>.</p>
			</ol>
		</div>
	</div>

{% endblock %}