{% extends "base.html" %}

{% block content %}
	<div id = "bodyContent">
		
		<div id = "itemWrapper">
			<div id = "v-nav">
			<form action="" method="post"> {% csrf_token %}
				<ul>
					<li>
						<a href="/products/" class="selected">
						<button type="submit" class="selected" name="value" value="all">All Items</button></a>
					</li>
					{% for category in categories %}
					<li> 
						{% if category == answer %} 
							<a href="/products/" class="selected">
							<button type="submit" class="selected" name="value" value="{{category.category}}">
						{% else %}
							<a href="/products/">
							<button type="submit" name="value" value="{{category.category}}"> 
						{% endif %}
							{{category.category}} </button></a>
						<!--<div class="decoration"></div><a href="/products/" 
							{% if category == answer or answer == None and forloop.first %}
								class="selected" 
							{% endif %}>
						<div class="decoration"></div>{{category.category}}</a></li> -->
					</li>
					{% endfor %}
				</ul>
			</form>
			</div>
			<div id = "content">
				<h4>{% if answer != None %}{{answer}}
				{% else %} All Items {% endif %}
				</h4>

				{% for product in products %}
				<a href={% url 'product_detail' product.id %}><div class = "item">
					{% for image in images %}
						{% if image.product == product %}
						<img src="{{ image.image.url }}" width="226px" height="226px" />
						{% endif %}
					{% endfor %}
					<div class = "title"><span class="name">{{product.name}}</span><span class="price">${{product.price}}</span></div>
				</div></a>
				{% endfor %}
			</div>
		</div>
	
	</div>

{% endblock %}