{% extends 'base.html' %}

{% block content %}

<div id = "bodyContent">
</br>
<div class = " titleBack"><a href="/products/"> < Back to Previous Page</a> </div>


</br>
<section>
	{% for image in images %}
	<img src = "{{ image.image.url }}" alt = "product" width="480" height="200">
	{% endfor %}
	
	<h2>Description </h2>
	<div class = "titleBorder"></div>
	
	<p>
	<dl>
			<dt>{{product.name}}</dt>
				<dd>{{product.price}}</dd>
				<dd>{{product.artist}}</dd>
		</dt>
	</p>
	
	
	</section>
	
		</div>
	</div>
	
<div class = "container">
	
</div>

</div>

{% endblock %}