{% block content %}
<!DOCTYPE html>
<html>
	<head>
		<title>Products</title>
	</head>

	<body>
	<h2>Which would you like to delete?</h2>
		<div>
			<table border="1">
				<thead>
					<tr>
						<th>Title of Artwork</th>
						<th>Price</th>
						<th>Artist</th>
					</tr>
				</thead>
				{% for product in products %}
				<tbody>
					<td><a href={% url 'product_delete' product.id %}>{{product.name}}</a></td>
					<td>{{product.price}}</td>
					<td>{{product.artist}}</td>
					{% for image in images %}
						{% if image.product == product %}
						<td><img src="{{ image.image.url }}"></td>
						{% endif %}
					{% endfor %}
				</tbody>
				{% endfor %}
			</table>
		</div>

		<br/></br>
		<a href='/'>Back to home</a>

		<br/>
		<a href="/admin_home/">Go to admin panel</a><br/>
	</body>
</html>
{% endblock %}